*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.hero-content{
    background-image: url("/images/Backround/1_img.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}
.logo{
padding: 30px;
margin-top: 20px;
}
.h1{
  
    font-size: 30px;
    margin-bottom: 20px;
}
.h2{
    margin-top: 60px;
    line-height: 80px;
}
.p{

}
.mouse{
    margin-top: 30px;
}
.about{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding: 30px;
   
}
h1{
    margin-top: 30px;
    font-size: 25px;
}
.service{
    background-image: url("/images/Backround/2_image.jpg"); 
    m
}
.h1{
    margin-left: 30px;
}
.what{
    margin-top: 30px;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}
.heading{
    color: black;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    }
.column{
    width:33.33%;
    float:left;
    text-align: center;
    padding:50px;
    box-sizing: border-box;
    
}
.column img{
    width: auto;
    height: 100px;
}
.portfolio{
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    width: 100%;
}
.h1{
  font-size: 40px;
}

 .contact{
    margin-top: 50px;
    background-image: url("/images/Backround/3-image.jpg");
    height: 80vh;
    width: 100%;
    color: white;
    padding: 20px;
    font-size: 50px;
    
}
.h1{
   
}
 
 .icons{
    margin-top: 30px;
    margin-left: 500px;
    align-items: center;
    border-radius: 10px;
    padding: 60px;
 }
.footer{
    margin-left: 200px;
    font-size: 10px;
    margin-top: 20px;
}
h1{
    font-size: 15px;
}
h2{
    font-size: 15px;
    align-items: center;
    margin-left: 30px;
    
}



    
