*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
 
img {
    height: 50px;
    width: 50px;
}

.container-lg {
    background-image: url("./Images/Foot Pic.jpeg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    color: #f5f5f5;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.container-lg h1 {
    font-size: 60px;
}

.container-md {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    padding: 30px;
    text-align: center;
}

.services {
    background-image: url("./Images/Keyboard\ pic.jpeg");
    background-size: cover;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 30px;
    margin: auto;
    text-align: center;
}

#what,
#portfolio {
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.what {
    display: flex;
    border: 10px solid green;
    justify-content: center;
    flex-direction: row;
}

.what img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border: 20px solid blue;
    align-items: center;
    justify-content: flex-start;
}

.row-cols-4 {
    padding-right: 20px;
    border: 10px solid black;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.col {
    padding: 0px;
    border: 2px solid yellow;
    margin: auto;
}

.portfolio {
    margin: auto;
    padding: 20px;
}

.contact {
    background-image: url("./Images/Foot Pic.jpeg");
    height: 800px;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    text-align: center;
    color: whitesmoke;
}

#floatingTextarea {
    height: 12em;
}

.footer i {
    height: 20px;
    width: 20px;
    border: 2px blue solid;
    border-radius: 10px;
}

.delani {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.delani p {
    margin: 0;
    padding: 0;
}



    
